In [1]:
# 1.WAS TO PRINT "HELLO WORLD"
print("HELLO WORLD")

HELLO WORLD

In [6]:
#2.WAS TO INTIALIZE MULTIVARIABLE VALUE ARE 150,120,250
a,b,c = 150,120,250
a,b,c

(150, 120, 250)

In [7]:
# WAS TO PRINT THE TYPE OF THE DATA IN GIVEN VALUE
a={10,20}
type(a)

set

In [9]:
#3.WAS TO PRINT THE ADDRESS OF THE MEMORY BLOCK IN GIVEN VALUE
a={10,20,30}
id (a)

1825866167488

In [13]:
#4.WAS TO PRINT YOUR DETAILS ,FIRST STORE YOUR DETAIS,EXTRACT THE VALUEAND DISPLAY IT 
name="jaya"
age=21
phone=8974835080
email="jaya17792@gmail.com"
height=5.0
pancard=True
print (name)
print (age)
print (phone)
print(height)

jaya
21
8974835080
5.0

In [17]:
#5.WAS TO SWAP TO VALUE ,EITH TEMPORARY VARIABLE
x="haii"
y="bye"
temp=x
x=y
y=temp
x,y

('bye', 'haii')

In [22]:
# 6.WAS TO SWAP TO VALUE WITHOUT TEMPERORY VARIABLE
m=[10,20]
n={30,40}
m,n=n,m
m
n
m,n

({30, 40}, [10, 20])

In [29]:
#7.WAS TO INTIALIZE A VALUE AND PRINT THE VALUE ,AFTER PRINT THE VALUE THEN RE INTIALIZE THE NEW VALUE TO THE EXISTING VARIABLE AND DISPLAY THE VALUE
a={'a':"pyspiders"}
a
a['a']
a['a']='qspider'
a
a=[10,20,30]
a

[10, 20, 30]

In [32]:
#8.WAS TO CONVERT SINGLE TO MULTIVALUE DATA TYPE
INPUT=a=10
output=['1','0']
a=10
a=str(a)
print(a)
a=list(a)
a

10

['1', '0']

In [36]:
a=[10]
a=tuple (a)
print(tuple(a))

(10,)

In [43]:
#9.WAS TP CONCAT THE MULTIVAILUE DATA TYPE (STR,LIST,TUPLE,SET,DICT)
x="hello"
x+="world"
print(x)
y=[10,20,30]
y+=[40,50,60]
print(y)
y=[10,20,30]
y+="haii"
print(y)
y=[10,20,30]
y+={'a','b'}
print(y)
y=[10,20,30]
y+={'a':100,'b':200}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i', 'i']
[10, 20, 30, 'a', 'b']
[10, 20, 30, 'a', 'b']

In [1]:
a=10
print(a)

10

In [1]:
#10.WAS TO CHECK THE LENGHT OF THE COLLECTION
t=(10,20)
len(t)

2

In [3]:
#11.WAS TO CHECK FIND OUT THE MIDDLE VALUE OF THE GIVEN COLECTION
a=[200,300,40,500]
a[len(a)//2]

40

In [6]:
#12.WAS TO CONCAT THE NEW STRING INTO TH STARTING OF GIVEN STRING
a="how are u"
b="haii"
a=b+a
a

'haiihow are u'

In [8]:
#13.WAS TO CONCAT THE NEW STRING INTOTHE ENDING OF THE GIVEN STRING
a="hello"
b="world"
a=a+b
a

'helloworld'

In [24]:
#14.WAS TO CONCAT THE NEW STRING INTO THE MIDDLE OF THE GIVEN STRING
s="apple"
s[0:2]+"b"+s[3:]

'apble'

In [38]:
 #15.WAS TO MODIFY THE NEW CHARACTER OF THE GIVEN STRING
a="PYSPIDERS"
a[len(a)//2]
a=a[0:len(a)//2]+"l"+a[(len(a)//2)+1:]
a

'PYSPlDERS'

In [2]:
#16.WAS MODIFY THE SEQUENCE OF CHARACTER IN GIVEN STRING
s="pyspiders"
s=s[0:3]+"PID"+s[6:]
s

'pysPIDers'

In [4]:
#17. EAS TP REPLACE THE OLD CHARACTER INTO A NEW CHARACTER OF STRING
a="pyspiders"
a=a[:-4]+"D"+a[-3:]
a

'pyspiDers'

In [5]:
#18.WAS TO DELETE THE SPECIFIC CHARACTER IN THE GIVEN STRING
p="pyspiders"
p=p[:2]+p[3:]
p

'pypiders'

In [6]:
#19.WAS TO DELETE THE SEQUENCE OF CHARACTER IN THE GIVEN STRING
j="pyspiders"
j=j[:3]+j[6:]
j

'pysers'

In [8]:
#20.WAS TO CONCAT THE NEW STRING INTO THE SPECIFIC POSITION OF THE GIVEN STRING
s="haii are u"
s=s[0:4+1]+"how"+s[4:]
s

'haii how are u'

In [12]:
#21.WAS TO CONCAT THE NEW VALUE INTO THE STARTING OF THE GIVEN LIST
k=[1,2,3]
k+=['a','b']
k

[1, 2, 3, 'a', 'b']