In [1]:
# WAS TO PRINT "HELLO WORLD"
print("HELLO WORLD")

HELLO WORLD

In [6]:
#WAS TO INTIALIZE MULTIVARIABLE VALUE ARE 150,120,250
a,b,c = 150,120,250
a,b,c

(150, 120, 250)

In [7]:
# WAS TO PRINT THE TYPE OF THE DATA IN GIVEN VALUE
a={10,20}
type(a)

set

In [9]:
#WAS TO PRINT THE ADDRESS OF THE MEMORY BLOCK IN GIVEN VALUE
a={10,20,30}
id (a)

1825866167488

In [13]:
#WAS TO PRINT YOUR DETAILS ,FIRST STORE YOUR DETAIS,EXTRACT THE VALUEAND DISPLAY IT 
name="jaya"
age=21
phone=8974835080
email="jaya17792@gmail.com"
height=5.0
pancard=True
print (name)
print (age)
print (phone)
print(height)

jaya
21
8974835080
5.0

In [17]:
#WAS TO SWAP TO VALUE ,EITH TEMPORARY VARIABLE
x="haii"
y="bye"
temp=x
x=y
y=temp
x,y

('bye', 'haii')

In [22]:
# WAS TO SWAP TO VALUE WITHOUT TEMPERORY VARIABLE
m=[10,20]
n={30,40}
m,n=n,m
m
n
m,n

({30, 40}, [10, 20])

In [29]:
#WAS TO INTIALIZE A VALUE AND PRINT THE VALUE ,AFTER PRINT THE VALUE THEN RE INTIALIZE THE NEW VALUE TO THE EXISTING VARIABLE AND DISPLAY THE VALUE
a={'a':"pyspiders"}
a
a['a']
a['a']='qspider'
a
a=[10,20,30]
a

[10, 20, 30]

In [32]:
#WAS TO CONVERT SINGLE TO MULTIVALUE DATA TYPE
INPUT=a=10
output=['1','0']
a=10
a=str(a)
print(a)
a=list(a)
a

10

['1', '0']

In [36]:
a=[10]
a=tuple (a)
print(tuple(a))

(10,)

In [43]:
#WAS TP CONCAT THE MULTIVAILUE DATA TYPE (STR,LIST,TUPLE,SET,DICT)
x="hello"
x+="world"
print(x)
y=[10,20,30]
y+=[40,50,60]
print(y)
y=[10,20,30]
y+="haii"
print(y)
y=[10,20,30]
y+={'a','b'}
print(y)
y=[10,20,30]
y+={'a':100,'b':200}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i', 'i']
[10, 20, 30, 'a', 'b']
[10, 20, 30, 'a', 'b']